<div class="main-content">

    <div class="container">

        <div class="card">

            <div class="card-body">

                <h3>Strengths and Difficulties Questionnaire (SDQ)</h3>

                <div class="row mb-2">
                    <div class="col-2">
                        <label for="code">รหัสนักเรียน</label>
                        <input type="text" id="code" class="form-control" [(ngModel)]="sdq.Code" (keyup)="codechange()">
                    </div>

                    <div class="col-2">
                        <label>เลขที่</label>
                        <input type="text" class="form-control" [(ngModel)]="no" [disabled]="true">
                    </div>

                    <div class="col-4">
                        <label>ชื่อ-นามสกุล</label>
                        <input type="text" id="fullname" class="form-control" [(ngModel)]="fullname" [disabled]="true">
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-2">
                        <label>ระดับชั้น</label>
                        <input type="text" class="form-control" [(ngModel)]="grade" [disabled]="true">
                    </div>

                    <div class="col-2">
                        <label>ห้อง</label>
                        <input type="text" class="form-control" [(ngModel)]="room" [disabled]="true">
                    </div>
                </div>

                <h3>ส่วนที่ 1</h3>
                <h4>ทำเครื่องหมาย / ในช่องว่างเพียงช่องเดียว ในแต่ละข้อคำถามที่ใกล้เคียงกับพฤติกรรมของนักเรียนที่เกิดขึ้นในช่วง 6 เดือนที่ผ่านมา</h4>

                <table class="table">

                        <caption></caption>

                        <thead>
                            <th scope="col">ข้อ</th>
                            <th scope="col">พฤติกรรมประเมิณ</th>
                            <th scope="col">ไม่จริง</th>
                            <th scope="col">จริงบ้าง</th>
                            <th scope="col">จริง</th>
                        </thead>

                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>ใส่ใจกับความรู้สึกคนอื่น</td>
                                <td><input type="radio" name="this.sdq.Topic1_1" [(ngModel)]="this.sdq.Topic1_1" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_1" [(ngModel)]="this.sdq.Topic1_1" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_1" [(ngModel)]="this.sdq.Topic1_1" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>2</td>
                                <td>อยู่ไม่สุข เคลื่อนไหวมาก ไม่สามารถอยู่นิ่งได้นานๆ</td>
                                <td><input type="radio" name="this.sdq.Topic1_2" [(ngModel)]="this.sdq.Topic1_2" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_2" [(ngModel)]="this.sdq.Topic1_2" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_2" [(ngModel)]="this.sdq.Topic1_2" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>บ่นปวดศรีษะ ปวดท้อง หรือคลื่นไส้บ่อยๆ</td>
                                <td><input type="radio" name="this.sdq.Topic1_3" [(ngModel)]="this.sdq.Topic1_3" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_3" [(ngModel)]="this.sdq.Topic1_3" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_3" [(ngModel)]="this.sdq.Topic1_3" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>4</td>
                                <td>เต็มใจแบ่งปันกับคนอื่น (ขนม ของเล่น ดินสอ ฯลฯ)</td>
                                <td><input type="radio" name="this.sdq.Topic1_4" [(ngModel)]="this.sdq.Topic1_4" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_4" [(ngModel)]="this.sdq.Topic1_4" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_4" [(ngModel)]="this.sdq.Topic1_4" [value]="3"></td>
                            </tr>
                            
                            <tr>
                                <td>5</td>
                                <td>แผลงฤทธิ์บ่อยๆ หรืออารมย์ร้อน</td>
                                <td><input type="radio" name="this.sdq.Topic1_5" [(ngModel)]="this.sdq.Topic1_5" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_5" [(ngModel)]="this.sdq.Topic1_5" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_5" [(ngModel)]="this.sdq.Topic1_5" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>6</td>
                                <td>ค่อนข้างอยู่โดดเดี่ยวมักเล่นตามลำพัง</td>
                                <td><input type="radio" name="this.sdq.Topic1_6" [(ngModel)]="this.sdq.Topic1_6" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_6" [(ngModel)]="this.sdq.Topic1_6" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_6" [(ngModel)]="this.sdq.Topic1_6" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>7</td>
                                <td>โดยปกติแล้วเชือฟัง ทำตามที่ผู้ใหญ่บอก</td>
                                <td><input type="radio" name="this.sdq.Topic1_7" [(ngModel)]="this.sdq.Topic1_7" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_7" [(ngModel)]="this.sdq.Topic1_7" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_7" [(ngModel)]="this.sdq.Topic1_7" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>8</td>
                                <td>มีความกังวลหลายเรื่อง ดูเหมือนกังวลบ่อย</td>
                                <td><input type="radio" name="this.sdq.Topic1_8" [(ngModel)]="this.sdq.Topic1_8" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_8" [(ngModel)]="this.sdq.Topic1_8" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_8" [(ngModel)]="this.sdq.Topic1_8" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>9</td>
                                <td>ช่วยเหลือถ้ามีใครบาดเจ็บ ไม่สบายใจหรือเจ็บป่วย</td>
                                <td><input type="radio" name="this.sdq.Topic1_9" [(ngModel)]="this.sdq.Topic1_9" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_9" [(ngModel)]="this.sdq.Topic1_9" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_9" [(ngModel)]="this.sdq.Topic1_9" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>10</td>
                                <td>หยุกหยิก หรือดิ้นไปดิ้นมาตลอดเวลา</td>
                                <td><input type="radio" name="this.sdq.Topic1_10" [(ngModel)]="this.sdq.Topic1_10" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_10" [(ngModel)]="this.sdq.Topic1_10" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_10" [(ngModel)]="this.sdq.Topic1_10" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>11</td>
                                <td>มีเพื่อนสนิทอย่างน้อยหนึ่งคน</td>
                                <td><input type="radio" name="this.sdq.Topic1_11" [(ngModel)]="this.sdq.Topic1_11" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_11" [(ngModel)]="this.sdq.Topic1_11" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_11" [(ngModel)]="this.sdq.Topic1_11" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>12</td>
                                <td>มีเรื่องทะเลาะหรือรังแกคนอื่นบ่อยๆ</td>
                                <td><input type="radio" name="this.sdq.Topic1_12" [(ngModel)]="this.sdq.Topic1_12" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_12" [(ngModel)]="this.sdq.Topic1_12" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_12" [(ngModel)]="this.sdq.Topic1_12" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>13</td>
                                <td>ไม่มีความสุข</td>
                                <td><input type="radio" name="this.sdq.Topic1_13" [(ngModel)]="this.sdq.Topic1_13" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_13" [(ngModel)]="this.sdq.Topic1_13" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_13" [(ngModel)]="this.sdq.Topic1_13" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>14</td>
                                <td>โดยทั่วไปเป็นที่ชอบพอของคนอื่น</td>
                                <td><input type="radio" name="this.sdq.Topic1_14" [(ngModel)]="this.sdq.Topic1_14" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_14" [(ngModel)]="this.sdq.Topic1_14" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_14" [(ngModel)]="this.sdq.Topic1_14" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>15</td>
                                <td>วอกแวกง่ายไม่มีสมาธิ</td>
                                <td><input type="radio" name="this.sdq.Topic1_15" [(ngModel)]="this.sdq.Topic1_15" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_15" [(ngModel)]="this.sdq.Topic1_15" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_15" [(ngModel)]="this.sdq.Topic1_15" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>16</td>
                                <td>วิตกหรือติดแจเมื่ออยู่ในสถานการณ์ใหม่ เสียความมั่นใจง่าย</td>
                                <td><input type="radio" name="this.sdq.Topic1_16" [(ngModel)]="this.sdq.Topic1_16" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_16" [(ngModel)]="this.sdq.Topic1_16" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_16" [(ngModel)]="this.sdq.Topic1_16" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>17</td>
                                <td>ใจดีกับเด็กที่มีอายุน้อยกว่า</td>
                                <td><input type="radio" name="this.sdq.Topic1_17" [(ngModel)]="this.sdq.Topic1_17" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_17" [(ngModel)]="this.sdq.Topic1_17" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_17" [(ngModel)]="this.sdq.Topic1_17" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>18</td>
                                <td>พูดปดหรือขี้โกงบ่อยๆ</td>
                                <td><input type="radio" name="this.sdq.Topic1_18" [(ngModel)]="this.sdq.Topic1_18" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic1_18" [(ngModel)]="this.sdq.Topic1_18" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic1_18" [(ngModel)]="this.sdq.Topic1_18" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>19</td>
                                <td>ถูกเด็กคนอื่นๆแกล้งหรือรังแก</td>
                                <td><input type="radio" name="this.sdq.Topic2_19" [(ngModel)]="this.sdq.Topic1_19" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic2_19" [(ngModel)]="this.sdq.Topic1_19" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic2_19" [(ngModel)]="this.sdq.Topic1_19" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>20</td>
                                <td>มักอาสาช่วยเหลือผู้อื่น (พ่อ แม่ ครู เด็กคนอื่นๆ)</td>
                                <td><input type="radio" name="this.sdq.Topic2_20" [(ngModel)]="this.sdq.Topic1_20" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic2_20" [(ngModel)]="this.sdq.Topic1_20" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic2_20" [(ngModel)]="this.sdq.Topic1_20" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>21</td>
                                <td>คิดก่อนทำ</td>
                                <td><input type="radio" name="this.sdq.Topic2_21" [(ngModel)]="this.sdq.Topic1_21" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic2_21" [(ngModel)]="this.sdq.Topic1_21" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic2_21" [(ngModel)]="this.sdq.Topic1_21" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>22</td>
                                <td>ขโมยของที่บ้าน ที่โรงเรียน หรือที่อื่นๆ</td>
                                <td><input type="radio" name="this.sdq.Topic2_22" [(ngModel)]="this.sdq.Topic1_22" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic2_22" [(ngModel)]="this.sdq.Topic1_22" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic2_22" [(ngModel)]="this.sdq.Topic1_22" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>23</td>
                                <td>เข้ากับผู้ใหญ่ได้ดีกว่าเด็กอื่น</td>
                                <td><input type="radio" name="this.sdq.Topic2_23" [(ngModel)]="this.sdq.Topic1_23" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic2_23" [(ngModel)]="this.sdq.Topic1_23" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic2_23" [(ngModel)]="this.sdq.Topic1_23" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>24</td>
                                <td>มีความกลัวหลายเรื่อง หวาดกลัวง่าย</td>
                                <td><input type="radio" name="this.sdq.Topic2_24" [(ngModel)]="this.sdq.Topic1_24" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic2_24" [(ngModel)]="this.sdq.Topic1_24" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic2_24" [(ngModel)]="this.sdq.Topic1_24" [value]="3"></td>
                            </tr>

                            <tr>
                                <td>25</td>
                                <td>มีสมาธิในการติดตามทำงานจนเสร็จ</td>
                                <td><input type="radio" name="this.sdq.Topic2_25" [(ngModel)]="this.sdq.Topic1_25" [value]="1"></td>
                                <td><input type="radio" name="this.sdq.Topic2_25" [(ngModel)]="this.sdq.Topic1_25" [value]="2"></td>
                                <td><input type="radio" name="this.sdq.Topic2_25" [(ngModel)]="this.sdq.Topic1_25" [value]="3"></td>
                            </tr>

                        </tbody>
                    
                </table>

                <h3>ส่วนที่ 2</h3>
                <h4>ทำเครื่องหมาย / ในช่องว่างเพียงช่องเดียว ในแต่ละข้อคำถามที่ใกล้เคียงกับพฤติกรรมของนักเรียน</h4>
                
                <div class="mt-3">

                    โดยรวมคุณคิดว่านักเรียนมีปัญหาในด้านอารมย์ ด้านสมาธิ ด้านพฤติกรรมหรือความสามารเข้ากับผู้อื่น ด้านใดด้านหนึ่งหรือไม่

                    <div class="mt-2">
                        <div class="mt-1"><input type="radio" name="this.sdq.Topic2" [(ngModel)]="this.sdq.Topic2" [value]="1"> ไม่มีปัญหา</div>
                        <div class="mt-1"><input type="radio" name="this.sdq.Topic2" [(ngModel)]="this.sdq.Topic2" [value]="2"> มีปัญหาเล็กน้อย</div>
                        <div class="mt-1"><input type="radio" name="this.sdq.Topic2" [(ngModel)]="this.sdq.Topic2" [value]="3"> มีปัญหาชัดเจน</div>
                        <div class="mt-1"><input type="radio" name="this.sdq.Topic2" [(ngModel)]="this.sdq.Topic2" [value]="4"> มีปัญหารุนแรง</div>
                    </div>

                </div>
            
                <div *ngIf="this.sdq.Topic2 > 1">

                    <div class="mt-4">

                        <h6><u>หมายเหตุ</u> ถ้าคุณตอบ "มีปัญหา" โปรดตอบข้อ 2.1 - 2.4 ต่อไปนี้ด้วย</h6>

                        2.1) ปัญหาที่มี เกิดมานานเท่าไหร่แล้ว

                        <div class="mt-2">
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_1" [(ngModel)]="this.sdq.Topic2_1" [value]="1"> น้อยกว่า 1 เดือน</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_1" [(ngModel)]="this.sdq.Topic2_1" [value]="2"> 1 - 5 เดือน</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_1" [(ngModel)]="this.sdq.Topic2_1" [value]="3"> 6 - 12 เดือน</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_1" [(ngModel)]="this.sdq.Topic2_1" [value]="4"> มากกว่า 1 ปี</div>
                        </div>

                    </div>

                    <div class="mt-4">

                        2.2) นักเรียนรรุู้สึกหงุดหงิดหรือไม่สบายใจกับปัญหาที่มีหรือไม่

                        <div class="mt-2">
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_2" [(ngModel)]="this.sdq.Topic2_2" [value]="1"> ไม่เลย</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_2" [(ngModel)]="this.sdq.Topic2_2" [value]="2"> เล็กน้อย</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_2" [(ngModel)]="this.sdq.Topic2_2" [value]="3"> ค่อนข้างมาก</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_2" [(ngModel)]="this.sdq.Topic2_2" [value]="4"> มากที่สุด</div>
                        </div>

                    </div>

                    <div class="mt-4">

                        2.3) ปัญหาที่มี รบกวนชีวิตประจำวันของนักเรียนในด้านต่างๆ ต่อไปนี้หรือไม่

                        <div class="mt-2">

                            <div style="font-weight: bold; ">(1) ความเป็นอยู่ที่บ้าน</div>

                            <div class="mt-2">
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_3" [(ngModel)]="this.sdq.Topic2_3" [value]="1"> ไม่เลย</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_3" [(ngModel)]="this.sdq.Topic2_3" [value]="2"> เล็กน้อย</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_3" [(ngModel)]="this.sdq.Topic2_3" [value]="3"> ค่อนข้างมาก</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_3" [(ngModel)]="this.sdq.Topic2_3" [value]="4"> มากที่สุด</div>
                            </div>

                            <div class="mt-3" style="font-weight: bold; ">(2) การคบเพื่อน</div>

                            <div class="mt-2">
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_4" [(ngModel)]="this.sdq.Topic2_4" [value]="1"> ไม่เลย</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_4" [(ngModel)]="this.sdq.Topic2_4" [value]="2"> เล็กน้อย</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_4" [(ngModel)]="this.sdq.Topic2_4" [value]="3"> ค่อนข้างมาก</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_4" [(ngModel)]="this.sdq.Topic2_4" [value]="4"> มากที่สุด</div>
                            </div>

                            <div class="mt-3" style="font-weight: bold; ">(3) การเรียนในห้องเรียน</div>

                            <div class="mt-2">
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_5" [(ngModel)]="this.sdq.Topic2_5" [value]="1"> ไม่เลย</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_5" [(ngModel)]="this.sdq.Topic2_5" [value]="2"> เล็กน้อย</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_5" [(ngModel)]="this.sdq.Topic2_5" [value]="3"> ค่อนข้างมาก</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_5" [(ngModel)]="this.sdq.Topic2_5" [value]="4"> มากที่สุด</div>
                            </div>

                            <div class="mt-3" style="font-weight: bold; ">(4) กิจกรรมยามว่าง</div>

                            <div class="mt-2">
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_6" [(ngModel)]="this.sdq.Topic2_6" [value]="1"> ไม่เลย</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_6" [(ngModel)]="this.sdq.Topic2_6" [value]="2"> เล็กน้อย</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_6" [(ngModel)]="this.sdq.Topic2_6" [value]="3"> ค่อนข้างมาก</div>
                                <div class="mt-1"><input type="radio" name="this.sdq.Topic2_6" [(ngModel)]="this.sdq.Topic2_6" [value]="4"> มากที่สุด</div>
                            </div>

                        </div>

                    </div>

                    <div class="mt-4">

                        2.4) ปัญหาที่มี ทำให้คุณหรือครอบครัวเกิดความวุ่นวายหรือไม่

                        <div class="mt-2">
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_7" [(ngModel)]="this.sdq.Topic2_7" [value]="1"> ไม่เลย</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_7" [(ngModel)]="this.sdq.Topic2_7" [value]="2"> เล็กน้อย</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_7" [(ngModel)]="this.sdq.Topic2_7" [value]="3"> ค่อนข้างมาก</div>
                            <div class="mt-1"><input type="radio" name="this.sdq.Topic2_7" [(ngModel)]="this.sdq.Topic2_7" [value]="4"> มากที่สุด</div>
                        </div>

                    </div>

                </div>

                <p></p>

                <h3>แบบประเมินความฉลาดทางอารมย์</h3>
                <h4>ทำเครื่องหมาย / ในช่องว่างเพียงช่องเดียว ในแต่ละข้อคำถามที่ใกล้เคียงกับพฤติกรรมของนักเรียน</h4>

                <table class="table">

                    <caption></caption>

                    <thead>
                    <th scope="col">ข้อ</th>
                    <th scope="col">พฤติกรรมประเมิณ</th>
                    <th scope="col" style="width: 5em">ไม่จริง</th>
                    <th scope="col" style="width: 5em">จริงบ้าง</th>
                    <th scope="col" style="width: 5em">จริง</th>
                    <th scope="col" style="width: 5em">จริงมาก</th>
                    </thead>

                    <tbody>

                        <tr>
                            <td>1</td>
                            <td>เวลาโกรธหรือไม่สบาย ฉันรับรู้ได้ว่าเกิดอะไรขึ้นกับฉัน</td>
                            <td><input type="radio" name="Topic3-1" [(ngModel)]="sdq.Topic3_1" [value]="1"></td>
                            <td><input type="radio" name="Topic3-1" [(ngModel)]="sdq.Topic3_1" [value]="2"></td>
                            <td><input type="radio" name="Topic3-1" [(ngModel)]="sdq.Topic3_1" [value]="3"></td>
                            <td><input type="radio" name="Topic3-1" [(ngModel)]="sdq.Topic3_1" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>ฉันบอกไม่ได้ว่าอะไรทำให้ฉันรู้สึกกลัว</td>
                            <td><input type="radio" name="Topic3-2" [(ngModel)]="sdq.Topic3_2" [value]="1"></td>
                            <td><input type="radio" name="Topic3-2" [(ngModel)]="sdq.Topic3_2" [value]="2"></td>
                            <td><input type="radio" name="Topic3-2" [(ngModel)]="sdq.Topic3_2" [value]="3"></td>
                            <td><input type="radio" name="Topic3-2" [(ngModel)]="sdq.Topic3_2" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>เมื่อถูกขัดใจฉันมักรู้สึกหงุดหงิดจนควบคุมอารมย์ไม่ได้</td>
                            <td><input type="radio" name="Topic3-3" [(ngModel)]="sdq.Topic3_3" [value]="1"></td>
                            <td><input type="radio" name="Topic3-3" [(ngModel)]="sdq.Topic3_3" [value]="2"></td>
                            <td><input type="radio" name="Topic3-3" [(ngModel)]="sdq.Topic3_3" [value]="3"></td>
                            <td><input type="radio" name="Topic3-3" [(ngModel)]="sdq.Topic3_3" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>ฉันสามารถคอยเพื่อให้บรรลุเป้าหมายที่พอใจ</td>
                            <td><input type="radio" name="Topic3-4" [(ngModel)]="sdq.Topic3_4" [value]="1"></td>
                            <td><input type="radio" name="Topic3-4" [(ngModel)]="sdq.Topic3_4" [value]="2"></td>
                            <td><input type="radio" name="Topic3-4" [(ngModel)]="sdq.Topic3_4" [value]="3"></td>
                            <td><input type="radio" name="Topic3-4" [(ngModel)]="sdq.Topic3_4" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>ฉันมักมีปฏิกริยาโต้ตอบรุนแรงต่อปัญหาเพียงเล็กน้อย</td>
                            <td><input type="radio" name="Topic3-5" [(ngModel)]="sdq.Topic3_5" [value]="1"></td>
                            <td><input type="radio" name="Topic3-5" [(ngModel)]="sdq.Topic3_5" [value]="2"></td>
                            <td><input type="radio" name="Topic3-5" [(ngModel)]="sdq.Topic3_5" [value]="3"></td>
                            <td><input type="radio" name="Topic3-5" [(ngModel)]="sdq.Topic3_5" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>เมือถูกบังคับให้ทำในสิ่งที่ไม่ชอบ ฉันอธิบายเหตุผลจนผู้อื่นยอมรับได้</td>
                            <td><input type="radio" name="Topic3-6" [(ngModel)]="sdq.Topic3_6" [value]="1"></td>
                            <td><input type="radio" name="Topic3-6" [(ngModel)]="sdq.Topic3_6" [value]="2"></td>
                            <td><input type="radio" name="Topic3-6" [(ngModel)]="sdq.Topic3_6" [value]="3"></td>
                            <td><input type="radio" name="Topic3-6" [(ngModel)]="sdq.Topic3_6" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>ฉันสังเกติได้เมื่อคนใกล้ชิดมีอารมย์เปลี่ยนแปลง</td>
                            <td><input type="radio" name="Topic3-7" [(ngModel)]="sdq.Topic3_7" [value]="1"></td>
                            <td><input type="radio" name="Topic3-7" [(ngModel)]="sdq.Topic3_7" [value]="2"></td>
                            <td><input type="radio" name="Topic3-7" [(ngModel)]="sdq.Topic3_7" [value]="3"></td>
                            <td><input type="radio" name="Topic3-7" [(ngModel)]="sdq.Topic3_7" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>ฉันไม่สนใจกับความทุกข์ของคนอื่นที่ฉันไม่รู้จัก</td>
                            <td><input type="radio" name="Topic3-8" [(ngModel)]="sdq.Topic3_8" [value]="1"></td>
                            <td><input type="radio" name="Topic3-8" [(ngModel)]="sdq.Topic3_8" [value]="2"></td>
                            <td><input type="radio" name="Topic3-8" [(ngModel)]="sdq.Topic3_8" [value]="3"></td>
                            <td><input type="radio" name="Topic3-8" [(ngModel)]="sdq.Topic3_8" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>9</td>
                            <td>ฉันไม่ยอมรับในสิ่งที่ผู้อื่นทำต่างจากที่ฉันคิด</td>
                            <td><input type="radio" name="Topic3-9" [(ngModel)]="sdq.Topic3_9" [value]="1"></td>
                            <td><input type="radio" name="Topic3-9" [(ngModel)]="sdq.Topic3_9" [value]="2"></td>
                            <td><input type="radio" name="Topic3-9" [(ngModel)]="sdq.Topic3_9" [value]="3"></td>
                            <td><input type="radio" name="Topic3-9" [(ngModel)]="sdq.Topic3_9" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>10</td>
                            <td>ฉันยอมรับได้ผู้อื่นก็อาจมีเหตุผลที่จะไม่พอใจการกระทำของฉัน</td>
                            <td><input type="radio" name="Topic3-10" [(ngModel)]="sdq.Topic3_10" [value]="1"></td>
                            <td><input type="radio" name="Topic3-10" [(ngModel)]="sdq.Topic3_10" [value]="2"></td>
                            <td><input type="radio" name="Topic3-10" [(ngModel)]="sdq.Topic3_10" [value]="3"></td>
                            <td><input type="radio" name="Topic3-10" [(ngModel)]="sdq.Topic3_10" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>11</td>
                            <td>ฉันรู้สึกได้ว่าผู้อื่นชอบเรียกร้องความสนใจมากเกินไป</td>
                            <td><input type="radio" name="Topic3-11" [(ngModel)]="sdq.Topic3_11" [value]="1"></td>
                            <td><input type="radio" name="Topic3-11" [(ngModel)]="sdq.Topic3_11" [value]="2"></td>
                            <td><input type="radio" name="Topic3-11" [(ngModel)]="sdq.Topic3_11" [value]="3"></td>
                            <td><input type="radio" name="Topic3-11" [(ngModel)]="sdq.Topic3_11" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>12</td>
                            <td>แม้จะมีภาระที่ต้องทำ ฉันก็ยินดีรับฟังความทุกข์ของผู้อื่นที่ต้องการความช่วยเหลือ</td>
                            <td><input type="radio" name="Topic3-12" [(ngModel)]="sdq.Topic3_12" [value]="1"></td>
                            <td><input type="radio" name="Topic3-12" [(ngModel)]="sdq.Topic3_12" [value]="2"></td>
                            <td><input type="radio" name="Topic3-12" [(ngModel)]="sdq.Topic3_12" [value]="3"></td>
                            <td><input type="radio" name="Topic3-12" [(ngModel)]="sdq.Topic3_12" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>13</td>
                            <td>เป็นเรื่องธรรมดาที่จะเอาเปรียบผู้อื่นเมือมีโอกาส</td>
                            <td><input type="radio" name="Topic3-13" [(ngModel)]="sdq.Topic3_13" [value]="1"></td>
                            <td><input type="radio" name="Topic3-13" [(ngModel)]="sdq.Topic3_13" [value]="2"></td>
                            <td><input type="radio" name="Topic3-13" [(ngModel)]="sdq.Topic3_13" [value]="3"></td>
                            <td><input type="radio" name="Topic3-13" [(ngModel)]="sdq.Topic3_13" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>14</td>
                            <td>ฉันเห็นคุณค่าในน้ำใจที่ผู้อื่นมีต่อฉัน</td>
                            <td><input type="radio" name="Topic3-14" [(ngModel)]="sdq.Topic3_14" [value]="1"></td>
                            <td><input type="radio" name="Topic3-14" [(ngModel)]="sdq.Topic3_14" [value]="2"></td>
                            <td><input type="radio" name="Topic3-14" [(ngModel)]="sdq.Topic3_14" [value]="3"></td>
                            <td><input type="radio" name="Topic3-14" [(ngModel)]="sdq.Topic3_14" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>15</td>
                            <td>เมือฉันทำผิดฉันสามารถกล่าวคำขอโทษ ผู้อื่นได้</td>
                            <td><input type="radio" name="Topic3-15" [(ngModel)]="sdq.Topic3_15" [value]="1"></td>
                            <td><input type="radio" name="Topic3-15" [(ngModel)]="sdq.Topic3_15" [value]="2"></td>
                            <td><input type="radio" name="Topic3-15" [(ngModel)]="sdq.Topic3_15" [value]="3"></td>
                            <td><input type="radio" name="Topic3-15" [(ngModel)]="sdq.Topic3_15" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>16</td>
                            <td>ฉันยอมรับข้อผิดพลาดของคนอื่นได้ยาก</td>
                            <td><input type="radio" name="Topic3-16" [(ngModel)]="sdq.Topic3_16" [value]="1"></td>
                            <td><input type="radio" name="Topic3-16" [(ngModel)]="sdq.Topic3_16" [value]="2"></td>
                            <td><input type="radio" name="Topic3-16" [(ngModel)]="sdq.Topic3_16" [value]="3"></td>
                            <td><input type="radio" name="Topic3-16" [(ngModel)]="sdq.Topic3_16" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>17</td>
                            <td>ถึงแม้จะเสียประโยขน์ส่วนตัวไปบ้าง ฉันก็ยินดีที่จะทำเพื่อส่วนรวม</td>
                            <td><input type="radio" name="Topic3-17" [(ngModel)]="sdq.Topic3_17" [value]="1"></td>
                            <td><input type="radio" name="Topic3-17" [(ngModel)]="sdq.Topic3_17" [value]="2"></td>
                            <td><input type="radio" name="Topic3-17" [(ngModel)]="sdq.Topic3_17" [value]="3"></td>
                            <td><input type="radio" name="Topic3-17" [(ngModel)]="sdq.Topic3_17" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>18</td>
                            <td>ฉันรู้สึกลำบากใจในการทำสิ่งใดสิ่งหนึ่งเพื่อผู้อื่น</td>
                            <td><input type="radio" name="Topic3-18" [(ngModel)]="sdq.Topic3_18" [value]="1"></td>
                            <td><input type="radio" name="Topic3-18" [(ngModel)]="sdq.Topic3_18" [value]="2"></td>
                            <td><input type="radio" name="Topic3-18" [(ngModel)]="sdq.Topic3_18" [value]="3"></td>
                            <td><input type="radio" name="Topic3-18" [(ngModel)]="sdq.Topic3_18" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>19</td>
                            <td>ฉันไม่รู้ว่าฉันเก่งเรื่องอะไร</td>
                            <td><input type="radio" name="Topic3-19" [(ngModel)]="sdq.Topic3_19" [value]="1"></td>
                            <td><input type="radio" name="Topic3-19" [(ngModel)]="sdq.Topic3_19" [value]="2"></td>
                            <td><input type="radio" name="Topic3-19" [(ngModel)]="sdq.Topic3_19" [value]="3"></td>
                            <td><input type="radio" name="Topic3-19" [(ngModel)]="sdq.Topic3_19" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>20</td>
                            <td>แม้จะเป็นงานยากฉันก็มั่นใจว่าสามารถทำได้</td>
                            <td><input type="radio" name="Topic3-20" [(ngModel)]="sdq.Topic3_20" [value]="1"></td>
                            <td><input type="radio" name="Topic3-20" [(ngModel)]="sdq.Topic3_20" [value]="2"></td>
                            <td><input type="radio" name="Topic3-20" [(ngModel)]="sdq.Topic3_20" [value]="3"></td>
                            <td><input type="radio" name="Topic3-20" [(ngModel)]="sdq.Topic3_20" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>21</td>
                            <td>เมื่อทำสิ่งใดไม่สำเร็จฉันรู้สึกหมดกำลังใจ</td>
                            <td><input type="radio" name="Topic3-21" [(ngModel)]="sdq.Topic3_21" [value]="1"></td>
                            <td><input type="radio" name="Topic3-21" [(ngModel)]="sdq.Topic3_21" [value]="2"></td>
                            <td><input type="radio" name="Topic3-21" [(ngModel)]="sdq.Topic3_21" [value]="3"></td>
                            <td><input type="radio" name="Topic3-21" [(ngModel)]="sdq.Topic3_21" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>22</td>
                            <td>ฉันรู้สึกมีคุณค่าเมื่อได้เห็นสิ่งต่างๆอย่างเต็มความสามารถ</td>
                            <td><input type="radio" name="Topic3-22" [(ngModel)]="sdq.Topic3_22" [value]="1"></td>
                            <td><input type="radio" name="Topic3-22" [(ngModel)]="sdq.Topic3_22" [value]="2"></td>
                            <td><input type="radio" name="Topic3-22" [(ngModel)]="sdq.Topic3_22" [value]="3"></td>
                            <td><input type="radio" name="Topic3-22" [(ngModel)]="sdq.Topic3_22" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>23</td>
                            <td>เมื่อต้องเผชิญกับอุปสรรคและความผิดหวัง ฉันก็จะไม่ยอมแพ้</td>
                            <td><input type="radio" name="Topic3-23" [(ngModel)]="sdq.Topic3_23" [value]="1"></td>
                            <td><input type="radio" name="Topic3-23" [(ngModel)]="sdq.Topic3_23" [value]="2"></td>
                            <td><input type="radio" name="Topic3-23" [(ngModel)]="sdq.Topic3_23" [value]="3"></td>
                            <td><input type="radio" name="Topic3-11" [(ngModel)]="sdq.Topic3_23" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>24</td>
                            <td>เมื่อเริ่มทำสิ่งหนึ่งสิ่งใด ฉันมักทำต่อไปไม่สำเร็จ</td>
                            <td><input type="radio" name="Topic3-24" [(ngModel)]="sdq.Topic3_24" [value]="1"></td>
                            <td><input type="radio" name="Topic3-24" [(ngModel)]="sdq.Topic3_24" [value]="2"></td>
                            <td><input type="radio" name="Topic3-24" [(ngModel)]="sdq.Topic3_24" [value]="3"></td>
                            <td><input type="radio" name="Topic3-24" [(ngModel)]="sdq.Topic3_24" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>25</td>
                            <td>ฉันพยายามหาสาเหตุที่แท้จริงของปัญหาโดยไม่คิดเอาเองตามใจชอบ</td>
                            <td><input type="radio" name="Topic3-25" [(ngModel)]="sdq.Topic3_25" [value]="1"></td>
                            <td><input type="radio" name="Topic3-25" [(ngModel)]="sdq.Topic3_25" [value]="2"></td>
                            <td><input type="radio" name="Topic3-25" [(ngModel)]="sdq.Topic3_25" [value]="3"></td>
                            <td><input type="radio" name="Topic3-25" [(ngModel)]="sdq.Topic3_25" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>26</td>
                            <td>บ่อยครั้งที่ฉันไม่รู้ว่าอะไรทำให้ฉันมีความสุข</td>
                            <td><input type="radio" name="Topic3-26" [(ngModel)]="sdq.Topic3_26" [value]="1"></td>
                            <td><input type="radio" name="Topic3-26" [(ngModel)]="sdq.Topic3_26" [value]="2"></td>
                            <td><input type="radio" name="Topic3-26" [(ngModel)]="sdq.Topic3_26" [value]="3"></td>
                            <td><input type="radio" name="Topic3-26" [(ngModel)]="sdq.Topic3_26" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>27</td>
                            <td>ฉันรู้สึกว่าการตัดสินใจแก้ปัญหาเป็นเรื่องยากสำหรับฉัน</td>
                            <td><input type="radio" name="Topic3-27" [(ngModel)]="sdq.Topic3_27" [value]="1"></td>
                            <td><input type="radio" name="Topic3-27" [(ngModel)]="sdq.Topic3_27" [value]="2"></td>
                            <td><input type="radio" name="Topic3-27" [(ngModel)]="sdq.Topic3_27" [value]="3"></td>
                            <td><input type="radio" name="Topic3-27" [(ngModel)]="sdq.Topic3_27" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>28</td>
                            <td>เมื่อต้องทำอะไรบางอย่างในเวลาเดียวกันฉันตัดสินใจได้ว่าทำอะไรก่อนหลัง</td>
                            <td><input type="radio" name="Topic3-28" [(ngModel)]="sdq.Topic3_28" [value]="1"></td>
                            <td><input type="radio" name="Topic3-28" [(ngModel)]="sdq.Topic3_28" [value]="2"></td>
                            <td><input type="radio" name="Topic3-28" [(ngModel)]="sdq.Topic3_28" [value]="3"></td>
                            <td><input type="radio" name="Topic3-28" [(ngModel)]="sdq.Topic3_28" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>29</td>
                            <td>ฉันลำบากใจเมื่อต้องอยู่กับคนแปลกหน้าหรือคนที่ไม่คุ้นเคย</td>
                            <td><input type="radio" name="Topic3-29" [(ngModel)]="sdq.Topic3_29" [value]="1"></td>
                            <td><input type="radio" name="Topic3-29" [(ngModel)]="sdq.Topic3_29" [value]="2"></td>
                            <td><input type="radio" name="Topic3-29" [(ngModel)]="sdq.Topic3_29" [value]="3"></td>
                            <td><input type="radio" name="Topic3-29" [(ngModel)]="sdq.Topic3_29" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>30</td>
                            <td>ฉันทนไม่ได้เมื่อต้องอยู่ในสังคมที่มีกฎระเบียบขัดกับความเคยชินกับฉัน</td>
                            <td><input type="radio" name="Topic3-30" [(ngModel)]="sdq.Topic3_30" [value]="1"></td>
                            <td><input type="radio" name="Topic3-30" [(ngModel)]="sdq.Topic3_30" [value]="2"></td>
                            <td><input type="radio" name="Topic3-30" [(ngModel)]="sdq.Topic3_30" [value]="3"></td>
                            <td><input type="radio" name="Topic3-30" [(ngModel)]="sdq.Topic3_30" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>31</td>
                            <td>ฉันทำความรู้จักกับผู้อื่นได้ง่าย</td>
                            <td><input type="radio" name="Topic3-31" [(ngModel)]="sdq.Topic3_31" [value]="1"></td>
                            <td><input type="radio" name="Topic3-31" [(ngModel)]="sdq.Topic3_31" [value]="2"></td>
                            <td><input type="radio" name="Topic3-31" [(ngModel)]="sdq.Topic3_31" [value]="3"></td>
                            <td><input type="radio" name="Topic3-31" [(ngModel)]="sdq.Topic3_31" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>32</td>
                            <td>ฉันมีเพื่อนสนิทหลายคนที่คบกันมานาน</td>
                            <td><input type="radio" name="Topic3-32" [(ngModel)]="sdq.Topic3_32" [value]="1"></td>
                            <td><input type="radio" name="Topic3-32" [(ngModel)]="sdq.Topic3_32" [value]="2"></td>
                            <td><input type="radio" name="Topic3-32" [(ngModel)]="sdq.Topic3_32" [value]="3"></td>
                            <td><input type="radio" name="Topic3-32" [(ngModel)]="sdq.Topic3_32" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>33</td>
                            <td>ฉันไม่กล้าบอกความต้องการของฉันให้ผู้อื่นรับรู้</td>
                            <td><input type="radio" name="Topic3-33" [(ngModel)]="sdq.Topic3_33" [value]="1"></td>
                            <td><input type="radio" name="Topic3-33" [(ngModel)]="sdq.Topic3_33" [value]="2"></td>
                            <td><input type="radio" name="Topic3-33" [(ngModel)]="sdq.Topic3_33" [value]="3"></td>
                            <td><input type="radio" name="Topic3-33" [(ngModel)]="sdq.Topic3_33" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>34</td>
                            <td>ฉันทำในสิ่งที่ต้องการโดยไม่ทำให้ผู้อื่นเดือนร้อน</td>
                            <td><input type="radio" name="Topic3-34" [(ngModel)]="sdq.Topic3_34" [value]="1"></td>
                            <td><input type="radio" name="Topic3-34" [(ngModel)]="sdq.Topic3_34" [value]="2"></td>
                            <td><input type="radio" name="Topic3-34" [(ngModel)]="sdq.Topic3_34" [value]="3"></td>
                            <td><input type="radio" name="Topic3-34" [(ngModel)]="sdq.Topic3_34" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>35</td>
                            <td>เป็นการยากสำหรับฉันที่จะโต้แย้งกับผู้อื่น แม้จะมีเหตุผลเพียงพอ</td>
                            <td><input type="radio" name="Topic3-35" [(ngModel)]="sdq.Topic3_35" [value]="1"></td>
                            <td><input type="radio" name="Topic3-35" [(ngModel)]="sdq.Topic3_35" [value]="2"></td>
                            <td><input type="radio" name="Topic3-35" [(ngModel)]="sdq.Topic3_35" [value]="3"></td>
                            <td><input type="radio" name="Topic3-35" [(ngModel)]="sdq.Topic3_35" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>36</td>
                            <td>เมื่อไม่เห็นด้วยกับผู้อื่นฉันสามารถอธิบายเหตุผลที่เขายอมรับได้</td>
                            <td><input type="radio" name="Topic3-36" [(ngModel)]="sdq.Topic3_36" [value]="1"></td>
                            <td><input type="radio" name="Topic3-36" [(ngModel)]="sdq.Topic3_36" [value]="2"></td>
                            <td><input type="radio" name="Topic3-36" [(ngModel)]="sdq.Topic3_36" [value]="3"></td>
                            <td><input type="radio" name="Topic3-36" [(ngModel)]="sdq.Topic3_36" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>37</td>
                            <td>ฉันรู้สึกว่าด้อยกว่าคนอื่น</td>
                            <td><input type="radio" name="Topic3-37" [(ngModel)]="sdq.Topic3_37" [value]="1"></td>
                            <td><input type="radio" name="Topic3-37" [(ngModel)]="sdq.Topic3_37" [value]="2"></td>
                            <td><input type="radio" name="Topic3-37" [(ngModel)]="sdq.Topic3_37" [value]="3"></td>
                            <td><input type="radio" name="Topic3-37" [(ngModel)]="sdq.Topic3_37" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>38</td>
                            <td>ฉันทำหน้าที่ได้ดี ไม่ว่าจะอยู่ในบทบาทใด</td>
                            <td><input type="radio" name="Topic3-38" [(ngModel)]="sdq.Topic3_38" [value]="1"></td>
                            <td><input type="radio" name="Topic3-38" [(ngModel)]="sdq.Topic3_38" [value]="2"></td>
                            <td><input type="radio" name="Topic3-38" [(ngModel)]="sdq.Topic3_38" [value]="3"></td>
                            <td><input type="radio" name="Topic3-38" [(ngModel)]="sdq.Topic3_38" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>39</td>
                            <td>ฉันสามารถทำงานที่ได้รับมอบบหมายได้ดีที่สุด</td>
                            <td><input type="radio" name="Topic3-39" [(ngModel)]="sdq.Topic3_39" [value]="1"></td>
                            <td><input type="radio" name="Topic3-39" [(ngModel)]="sdq.Topic3_39" [value]="2"></td>
                            <td><input type="radio" name="Topic3-39" [(ngModel)]="sdq.Topic3_39" [value]="3"></td>
                            <td><input type="radio" name="Topic3-39" [(ngModel)]="sdq.Topic3_39" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>40</td>
                            <td>ฉันไม่มั่นใจในการทำงานที่ยากลำบาก</td>
                            <td><input type="radio" name="Topic3-40" [(ngModel)]="sdq.Topic3_40" [value]="1"></td>
                            <td><input type="radio" name="Topic3-40" [(ngModel)]="sdq.Topic3_40" [value]="2"></td>
                            <td><input type="radio" name="Topic3-40" [(ngModel)]="sdq.Topic3_40" [value]="3"></td>
                            <td><input type="radio" name="Topic3-40" [(ngModel)]="sdq.Topic3_40" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>41</td>
                            <td>แม้สถานการณ์จะเลวร้าย ฉันก็มีความหวังว่าจะดีขึ้น</td>
                            <td><input type="radio" name="Topic3-41" [(ngModel)]="sdq.Topic3_41" [value]="1"></td>
                            <td><input type="radio" name="Topic3-41" [(ngModel)]="sdq.Topic3_41" [value]="2"></td>
                            <td><input type="radio" name="Topic3-41" [(ngModel)]="sdq.Topic3_41" [value]="3"></td>
                            <td><input type="radio" name="Topic3-41" [(ngModel)]="sdq.Topic3_41" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>42</td>
                            <td>ทุกปัญหามักมีทางออกเสมอ</td>
                            <td><input type="radio" name="Topic3-42" [(ngModel)]="sdq.Topic3_42" [value]="1"></td>
                            <td><input type="radio" name="Topic3-42" [(ngModel)]="sdq.Topic3_42" [value]="2"></td>
                            <td><input type="radio" name="Topic3-42" [(ngModel)]="sdq.Topic3_42" [value]="3"></td>
                            <td><input type="radio" name="Topic3-42" [(ngModel)]="sdq.Topic3_42" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>43</td>
                            <td>เมื่อมีเรื่องทำให้เครียด ฉันมักปรับเปลี่ยนให้เป็นเรื่องผ่อนคลาย หรือสนุกสนาน</td>
                            <td><input type="radio" name="Topic3-43" [(ngModel)]="sdq.Topic3_43" [value]="1"></td>
                            <td><input type="radio" name="Topic3-43" [(ngModel)]="sdq.Topic3_43" [value]="2"></td>
                            <td><input type="radio" name="Topic3-43" [(ngModel)]="sdq.Topic3_43" [value]="3"></td>
                            <td><input type="radio" name="Topic3-43" [(ngModel)]="sdq.Topic3_43" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>44</td>
                            <td>ฉันสนุกสนานทุกครั้งกับกิจกรรมในวันสุดสัปดาห์และวันหยุดพักผ่อน</td>
                            <td><input type="radio" name="Topic3-44" [(ngModel)]="sdq.Topic3_44" [value]="1"></td>
                            <td><input type="radio" name="Topic3-44" [(ngModel)]="sdq.Topic3_44" [value]="2"></td>
                            <td><input type="radio" name="Topic3-44" [(ngModel)]="sdq.Topic3_44" [value]="3"></td>
                            <td><input type="radio" name="Topic3-44" [(ngModel)]="sdq.Topic3_44" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>45</td>
                            <td>ฉันรู้สึกไม่พอใจกับผู้อื่นได้รับสิ่งดีๆมากกว่าฉัน</td>
                            <td><input type="radio" name="Topic3-45" [(ngModel)]="sdq.Topic3_45" [value]="1"></td>
                            <td><input type="radio" name="Topic3-45" [(ngModel)]="sdq.Topic3_45" [value]="2"></td>
                            <td><input type="radio" name="Topic3-45" [(ngModel)]="sdq.Topic3_45" [value]="3"></td>
                            <td><input type="radio" name="Topic3-45" [(ngModel)]="sdq.Topic3_45" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>46</td>
                            <td>ฉันพอใจกบสิ่งที่ฉันเป็นอยู่</td>
                            <td><input type="radio" name="Topic3-46" [(ngModel)]="sdq.Topic3_46" [value]="1"></td>
                            <td><input type="radio" name="Topic3-46" [(ngModel)]="sdq.Topic3_46" [value]="2"></td>
                            <td><input type="radio" name="Topic3-46" [(ngModel)]="sdq.Topic3_46" [value]="3"></td>
                            <td><input type="radio" name="Topic3-46" [(ngModel)]="sdq.Topic3_46" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>47</td>
                            <td>ฉันไม่รู้ว่าจะหาอะไรทำ เมื่อรู้สึกเบื่อหน่าย</td>
                            <td><input type="radio" name="Topic3-47" [(ngModel)]="sdq.Topic3_47" [value]="1"></td>
                            <td><input type="radio" name="Topic3-47" [(ngModel)]="sdq.Topic3_47" [value]="2"></td>
                            <td><input type="radio" name="Topic3-47" [(ngModel)]="sdq.Topic3_47" [value]="3"></td>
                            <td><input type="radio" name="Topic3-47" [(ngModel)]="sdq.Topic3_47" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>48</td>
                            <td>เมื่อวันว่างจากภาระหน้าที่ ฉันจะทำให้สิ่งที่ฉันชอบ</td>
                            <td><input type="radio" name="Topic3-48" [(ngModel)]="sdq.Topic3_48" [value]="1"></td>
                            <td><input type="radio" name="Topic3-48" [(ngModel)]="sdq.Topic3_48" [value]="2"></td>
                            <td><input type="radio" name="Topic3-48" [(ngModel)]="sdq.Topic3_48" [value]="3"></td>
                            <td><input type="radio" name="Topic3-48" [(ngModel)]="sdq.Topic3_48" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>49</td>
                            <td>เมื่อรู้สึกไม่สบายใจ ฉันมีวิธีผ่อนคลายอารมย์ได้</td>
                            <td><input type="radio" name="Topic3-49" [(ngModel)]="sdq.Topic3_49" [value]="1"></td>
                            <td><input type="radio" name="Topic3-49" [(ngModel)]="sdq.Topic3_49" [value]="2"></td>
                            <td><input type="radio" name="Topic3-49" [(ngModel)]="sdq.Topic3_49" [value]="3"></td>
                            <td><input type="radio" name="Topic3-49" [(ngModel)]="sdq.Topic3_49" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>50</td>
                            <td>ฉันสามารถผ่อนคลายตนเองได้ แม้จะเหน็ดเหนื่อยจากภาระหน้าที่</td>
                            <td><input type="radio" name="Topic3-50" [(ngModel)]="sdq.Topic3_50" [value]="1"></td>
                            <td><input type="radio" name="Topic3-50" [(ngModel)]="sdq.Topic3_50" [value]="2"></td>
                            <td><input type="radio" name="Topic3-50" [(ngModel)]="sdq.Topic3_50" [value]="3"></td>
                            <td><input type="radio" name="Topic3-50" [(ngModel)]="sdq.Topic3_50" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>51</td>
                            <td>ฉันไม่สามารถทำใจให้เป็นสุขได้จนกว่าจะได้ทุกสิ่งที่ต้องการ</td>
                            <td><input type="radio" name="Topic3-51" [(ngModel)]="sdq.Topic3_51" [value]="1"></td>
                            <td><input type="radio" name="Topic3-51" [(ngModel)]="sdq.Topic3_51" [value]="2"></td>
                            <td><input type="radio" name="Topic3-51" [(ngModel)]="sdq.Topic3_51" [value]="3"></td>
                            <td><input type="radio" name="Topic3-51" [(ngModel)]="sdq.Topic3_51" [value]="4"></td>
                        </tr>

                        <tr>
                            <td>52</td>
                            <td>ฉันทุกข์ร้อนกับเรื่องเล็กๆน้อยๆที่เกิดขึ้นเสมอ</td>
                            <td><input type="radio" name="Topic3-52" [(ngModel)]="sdq.Topic3_52" [value]="1"></td>
                            <td><input type="radio" name="Topic3-52" [(ngModel)]="sdq.Topic3_52" [value]="2"></td>
                            <td><input type="radio" name="Topic3-52" [(ngModel)]="sdq.Topic3_52" [value]="3"></td>
                            <td><input type="radio" name="Topic3-52" [(ngModel)]="sdq.Topic3_52" [value]="4"></td>
                        </tr>

                    </tbody>

                </table>


                <div style="text-align: center;">
                    <button class="btn btn-primary" (click)="submitform()">คำนวณคะแนน/บันทึก</button>
                </div>

            </div>

        </div>

    </div>

</div>
