<div class="main-content">

    <div class="container-fluid">

        <div id="teacher_frm">

            <div class="card">

                <div class="card-body">

                    <div class="row mb-2">
                        <div class="col-4">
                            <label>แผนก</label>
                            <select class="form-select" [(ngModel)]="teacher.DeptRef">
                                <option [ngValue]="0">- ไม่ระบุ -</option>
                                <option *ngFor="let opt of depts" [ngValue]="opt.Ref">{{opt.Name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-2">

                            <label>ประจำชั้นเรียน</label>
                            <select class="form-select" [(ngModel)]="grade_ref" (change)="gradeChange()">
                                <option [ngValue]="0">-  ไม่ระบุ -</option>
                                <option *ngFor="let opt of getGrades" [ngValue]="opt.Ref">{{opt.Name}}</option>
                            </select>
                        </div>

                        <div class="col-2">
                            <label>ห้อง</label>
                            <select class="form-select" [(ngModel)]="room_ref">
                                <option [ngValue]="0">- ไม่ระบุ  -</option>
                                <option *ngFor="let opt of getRooms" [ngValue]="opt.Ref">{{opt.Name}}</option>
                            </select>
                        </div>

                    </div>

                    <div class="row mb-2">

                        <div class="col-2">
                            <label>รหัส</label>
                            <input type="text" class="form-control" [(ngModel)]="teacher.Code"/>
                        </div>

                        <div class="col-2">
                            <label>ชื่อ</label>
                            <input type="text" class="form-control" [(ngModel)]="teacher.FirstName"/>
                        </div>

                        <div class="col-2">
                            <label>นามสกุล</label>
                            <input type="text" class="form-control" [(ngModel)]="teacher.LastName"/>
                        </div>

                    </div>

                    <div class="row mb-3">

                        <div class="col-2">
                            <label>หมายเลขโทรศัพท์</label>
                            <input type="text" class="form-control" [(ngModel)]="teacher.Phone"/>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-auto">
                            <button type="button" class="btn btn-success" (click)="save()">
                                <span class="fa fa-floppy-o"></span>
                                บันทึก
                            </button>

                            <button type="button" class="btn btn-secondary ml-2" (click)="close()">
                                <span class="fa fa-window-close" aria-hidden="true"></span>
                                ออก
                            </button>
                        </div>

                        <div class="col align-self-end text-right">
                            <button type="button" class="btn btn-danger ml-2" (click)="delete()">
                                <span class="fa fa-times" aria-hidden="true"></span>
                                ลบ
                            </button>
                        </div>

                    </div>

                </div>

            </div>


        </div>

        <div id="teacher_view">
            
            <div class="card">

                <div class="card-body">

                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->

                        <div class="row mb-3">

                            <div class="col-2">
                                <label>ชั้นเรียน</label>
                                <select class="form-select" [(ngModel)]="grade_ref" (change)="searchByGrade()">
                                    <option [ngValue]="0">- ไม่ระบุ -</option>
                                    <option *ngFor="let grade of getGrades" [ngValue]="grade.Ref">{{grade.Name}}</option>
                                </select>
                            </div>

                            <div class="col align-self-end text-right">
                                <button class="btn btn-success"  (click)="insert()">
                                    <span class="fa fa-plus" aria-hidden="true"></span> 
                                    เพิ่มอาจารย์
                                </button>
                            </div>

                        </div>

                    </div>

                    <table id="teacherTable" class="table display">
                        <caption></caption>

                        <thead>
                            <tr>
                                <th scope="col" style="width: 20em">{{ dataTable.headerRow[0] }}</th>
                                <th scope="col" style="width: 15em">{{ dataTable.headerRow[1] }}</th>
                                <th scope="col" style="width: 5em">{{ dataTable.headerRow[2] }}</th>
                                <th scope="col" style="width: 5em">{{ dataTable.headerRow[3] }}</th>
                                <th scope="col">{{ dataTable.headerRow[4] }}</th>
                            </tr>
                        </thead>

                        <tfoot>
                            <tr>
                                <th scope="col">{{ dataTable.footerRow[0] }}</th>
                                <th scope="col">{{ dataTable.footerRow[1] }}</th>
                                <th scope="col">{{ dataTable.footerRow[2] }}</th>
                                <th scope="col">{{ dataTable.footerRow[3] }}</th>
                                <th scope="col">{{ dataTable.footerRow[4] }}</th>
                            </tr>
                        </tfoot>

                        <tbody>
                            <tr *ngFor="let row of dataTable.dataRows">
                                <td>{{row[0]}}</td>
                                <td>{{row[1]}}</td>
                                <td>{{row[2]}}</td>
                                <td>{{row[3]}}</td>
                                <td>{{row[4]}}</td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->

        </div>


    </div>

</div>
