<div class="main-content">

    <div class="container-fluid">

        <div class="card">

            <div class="card-body">

                <div class="toolbar mb-3">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->

                    <div class="col-1" >
                        <label>ระดับชั้น</label>
                        <select class="form-control">
                            <option>N/A</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                        </select>
                    </div>

                </div>

                <table id="regtable"  class="table table-striped table-bordered">
                    <caption></caption>

                    <thead>
                        <tr>
                            <th scope="col" style="width: 5em;">{{dataTable.headerRow[0]}}</th>
                            <th scope="col" style="width: 5em;">{{dataTable.headerRow[1]}}</th>
                            <th scope="col" style="width: 10em;">{{dataTable.headerRow[2]}}</th>
                            <th scope="col">{{dataTable.headerRow[3]}}</th>
                            <th scope="col">{{dataTable.headerRow[4]}}</th>
                            <th scope="col">{{dataTable.headerRow[5]}}</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th scope="col">{{dataTable.headerRow[0]}}</th>
                            <th scope="col">{{dataTable.headerRow[1]}}</th>
                            <th scope="col">{{dataTable.headerRow[2]}}</th>
                            <th scope="col">{{dataTable.headerRow[3]}}</th>
                            <th scope="col">{{dataTable.headerRow[4]}}</th>
                            <th scope="col">{{dataTable.headerRow[5]}}</th>
                        </tr>
                    </tfoot>
                    
                    <tbody>
                        <tr *ngFor="let row of dataTable.dataRows">
                            <td>{{row[0]}}</td>
                            <td>{{row[1]}}</td>
                            <td>{{row[2]}}</td>
                            <td>{{row[3]}}</td>
                            <td>{{row[4]}}</td>
                            <td>{{row[5]}}</td>
                        </tr>
                    </tbody>

                </table>

            </div>

        </div>
    
    </div>

</div>