<div class="main-content">

    <div class="container-fluid">

        <div class="card">

            <div class="card-body">

                <div class="card-title">
                    <h3>เช็คชื่อ:</h3>
                </div>

                <div class="row mt-2">

                    <div class="col-auto">
                        <label class="label label-default">วันที่เช็คชื่อ</label>
                        <input type="date" class="form-control" [(ngModel)]="checkinsubject.Created" > 
                    </div>

                    <div class="col-auto">
                        <label class="label label-default">คาบที่</label>
                        <select class="form-select" [(ngModel)]="checkinsubject.Period" (click)="periodChange()">
                            <option [ngValue]="0">- เลือก -</option>
                            <option [ngValue]="1">1</option>
                            <option [ngValue]="2">2</option>
                            <option [ngValue]="3">3</option>
                            <option [ngValue]="4">4</option>
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="6">6</option>
                            <option [ngValue]="7">7</option>
                            <option [ngValue]="8">8</option>
                            <option [ngValue]="9">9</option>
                            <option [ngValue]="10">10</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <label class="label label-default">ระดับชั้น</label>
                        <select class="form-select" [(ngModel)]="grade_ref" (change)="gradeChange()">
                            <option [ngValue]="0">- เลือก -</option>
                            <option *ngFor="let opt of grades" [ngValue]="opt.Ref">{{opt.Name}}</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <label class="label label-default">ห้อง</label>
                        <select class="form-select" [(ngModel)]="room_ref" (change)="roomChange()">
                            <option [ngValue]="0">- เลือก -</option>
                            <option *ngFor="let opt of rooms" [ngValue]="opt.Ref">{{opt.Name}}</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <label class="label label-default">หมวดวิชา</label>
                        <select class="form-select" [(ngModel)]="subjectgroup_ref" (change)="subjectgroupChange()">
                            <option [ngValue]="0">- เลือก -</option>
                            <option *ngFor="let opt of subjectgroups" [ngValue]="opt.Ref">{{opt.Name}}</option>
                        </select>
                    </div>

                    <div class="col-auto">
                        <label class="label label-default">รหัสวิชา</label>
                        <select class="form-select" [(ngModel)]="checkinsubject.SubjectRef">
                            <option [ngValue]="0">- เลือก -</option>
                            <option *ngFor="let opt of subjects" [ngValue]="opt.Ref">{{opt.Code + " " + opt.Name}}</option>
                        </select>
                    </div>

                </div>

                <div id="warning-tag">
                    <div class="p-3 mb-2 bg-warning text-dark mt-2">คาบนี้มีการเช็คชื่อไปเรียบร้อยแล้ว ถ้าต้องการดำเนินการต่อโปรดติดต่อผู้ดูแลระบบ</div>
                </div>

                <table class="table display mt-3">
                    <caption>รายชื่อนักเรียน</caption>

                    <thead>
                        <tr>
                            <th scope="col" style="width: 5em;">เลขที่</th>
                            <th scope="col" style="width: 5em;">รหัส</th>
                            <th scope="col">ชื่อ-นามสกุล</th>
                            <th scope="col" style="width: 15em; text-align: center;">สถานะ</th>
                            <th scope="col" style="width: 6em; text-align: center;">มา</th>
                            <th scope="col" style="width: 6em; text-align: center;">ขาด</th>
                            <th scope="col" style="width: 6em; text-align: center;">ลากิจ</th>
                            <th scope="col" style="width: 6em; text-align: center;">ลาป่วย</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let s of checkinsubject.Students; let i = index" id="row{{i}}">
                            <td>{{s.StudentNo}}</td>
                            <td>{{s.StudentCode}}</td>
                            <td>{{s.StudentFullName}}</td>
                            <td style="text-align: center;">{{s.StatusName}}</td>
                            <td style="text-align: center;"><button type="button" id="normal" class="btn btn-success btn-sm"(click)="normal(i)">มา</button></td>
                            <td style="text-align: center;"><button type="button" id="absent" class="btn btn-danger btn-sm" (click)="absent(i)">ขาด</button></td>
                            <td style="text-align: center;"><button type="button" id="leave" class="btn btn-warning btn-sm"(click)="leave(i)">ลากิจ</button></td>
                            <td style="text-align: center;"><button type="button" id="sick" class="btn btn-default btn-sm"(click)="sick(i)">ป่วย</button></td>
                        </tr>

                    </tbody>

                </table>

                <button type="button" id="btnsave" class="btn btn-primary" (click)="save()">บันทึกการเช็คชื่อ</button>

            </div>

        </div>

    </div>

</div>

<div id="message" class="modal" tabindex="-1" role="dialog">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">

        <h5 class="modal-title">{{msg_header}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close_msg()">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        <p>{{msg_body}}</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close_msg()">ออก</button>
      </div>

    </div>

  </div>

</div>